@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');

/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/


html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

label {
  display: block;
}

/* ===== LAYOUT STYLES ====== */

body {
    font-family: 'newsreader', 'Helvetica Neue', 'Arial', 'sans-serif';
    background-color: #DCDCDC;
}

/* HeadLine */

.headline-container {
    padding: .5em .25em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    background-color: #808080;
}

/* Information */

.info-container {
    padding: 1.5em .2em;
    text-align: center;
    font-size: 1em;
    background-color: #A9A9A9;
}

.info-container h3 {
    padding: .25em;
    font-size: 1.15em;
    font-weight: 600;
}

.info-container p {
    padding: .5em;
}

/* Form */

.form-container {
    padding: 1em 0em;
    background-color: #C0C0C0;
}

.form-container p {
    padding: 0em 0em .25em 0em;
    font-size: 1.15em;
    font-weight: 700;
    text-align: center;
}

.input-container input,
#engine-type,
#submit {
    margin: 10px 0; 
    border: 1px solid #ccc;
    padding: 12px; 
    width: 95%; 
    box-sizing: border-box;
}

#question-form {
    margin: 0 auto;
    text-align: center;
}

#username-form {
    padding:.25em 0em;
}

#email-form {
    padding: .25em 0em;
}

#number-form {
    padding: .25em 0em;
}

#engine-form {
    padding: .25em 0em;
}

#engine-type {
    cursor: pointer;
    text-align: center;
    width: 95%;
}

#submit {
    margin: .6em auto;
    padding: .5em 0em;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 95%;
}


/* ===== STATE STYLES ======= */

@media screen and (min-width: 768px) {
    .headline-container {
        font-size: 1.5em;
    }

    .info-container h3 {
        font-size: 1.35em;
    }

    .form-container p {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1200px) {
    .headline-container {
        text-align: center;
        padding: .5em .25em;
        background-color: #808080;
    }

    .info-form-container {
        display: flex;
        flex-wrap: wrap;
    }

    .info-container {
        flex: 1; /* Takes up 50% of the available space (left side) */
        padding: 1em;
        background-color: #A9A9A9;
    }

    .form-container {
        flex: 1; /* Takes up 50% of the available space (right side) */
        padding: 1em;
        background-color: #C0C0C0;
    }

    #question-form {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    .input-container {
        width: auto; 
        max-width: 400px; 
    }

    .input-container input,
    #engine-type,
    #submit {
        width: 100%; 
    }

    #submit-button {
        display: flex;
        justify-content: center;
        width: 100%; 
    }
}