@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');

/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/


html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

label {
  display: block;
}

/* ===== LAYOUT STYLES ====== */

body {
    font-family: 'newsreader', 'Helvetica Neue', 'Arial', 'sans-serif';
    background-color: #DCDCDC;
}

.headline-container {
    padding: .5em .25em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    background-color: #808080;
}

/* === Change logo up === */
.headline-container h2 {
    
}

.info-container {
    padding: 1.5em .2em;
    text-align: center;
    font-size: 1em;
    background-color: #A9A9A9;
}

.info-container h3 {
    padding: .25em;
    font-size: 1.15em;
    font-weight: 600;
}

.info-container p {
    padding: .5em;
}

.form-container {
    padding: .25em;
    background-color: #C0C0C0;
}

.form-container p {
    font-size: 1.15em;
    text-align: center;
}

.form-container  {
    padding: 1em 0em;
}

/* ===== STATE STYLES ======= */


