@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');

/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/


html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

label {
  display: block;
}

/* ===== LAYOUT STYLES ====== */

body {
    font-family: 'newsreader', 'Helvetica Neue', 'Arial', 'sans-serif';
    background-color: #DCDCDC;
}

/* HeadLine */

.headline-container {
    padding: .5em .25em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    background-color: #808080;
}

/* === Change logo up === */
.headline-container h2 {
    
}

/* Information */

.info-container {
    padding: 1.5em .2em;
    text-align: center;
    font-size: 1em;
    background-color: #A9A9A9;
}

.info-container h3 {
    padding: .25em;
    font-size: 1.15em;
    font-weight: 600;
}

.info-container p {
    padding: .5em;
}

/* Form */

.form-container {
    padding: 1em 0em;
    background-color: #C0C0C0;
}

.form-container p {
    padding: 0em 0em .25em 0em;
    font-size: 1.15em;
    text-align: center;
}

#question-form {
    margin: 0 auto;
    text-align: center;
}

#username-form {
    padding:.25em 0em;
}

#email-form {
    padding: .25em 0em;
}

#number-form {
    padding: .25em 0em;
}

#engine-form {
    padding: .25em 0em;
}

#engine-type {
    cursor: pointer;
}

#submit {
    margin: .6em auto;
    padding: .5em 0em;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75%;
}


/* ===== STATE STYLES ======= */

@media screen and (min-width: 768px) {

    

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
    
}